<!-- Add you block twig html here -->
<div style="border:1px solid #000;">
    <p>Scan your code here!</p>
    <div>
        <p>To purchase this product on our </br>
        app to avail exclusive app-only.</p>
    </div>
    <div>
        {{image}}
    </div>
</div>
